body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #eee6e6;
}

.app {
    text-align: center;
    padding: 20px;
}

header h1 {
    color: white;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
}

button {
    width: 95%;
    padding: 12px;
    background: #3f7cd7;
    color: rgb(0, 166, 255)
    border: none;
    border-radius: 10px;
}

.result-card {
    background: rgb(126, 53, 199);
    margin: 20px auto;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
}
